{% for i in todos.items %}
    {{i.uid}}
    <div class="row d-flex justify-content-center" style="border:5px solid #ffffff;border-radius:10px;margin:5px;{% if i.is_completed %}color:#2a0656;background-color:#4d6f4d{% else %}color:#ffbf00;background-color:#808080{% endif %};display:inline-block;">
        <div class="col-sm-2">
            <button type="button" style = "margin:30px;border:2px solid #000000;color:#000000;" value="{{ url_for('edit_todos',id=i.id) }}" class="doneButton btn {% if i.is_completed %} disabled btn-success{% else %}btn-danger {% endif %}">{% if i.is_completed %}Done{% else %}Pending{% endif %}</button> 
        </div>
        <div class="col-sm-4 {% if i.is_completed %} text-muted {% endif %}">
            <h4>{{ i.title }}</h4>
            <p style="size:small;">{{ i.notes }}</p>
            <p class="text-dark" style="margin">{{ i.created_at.strftime("%I:%M:%S %p || %d %b, %Y") }}</p>
        </div>
        <div class="col-sm-2">
            <button type="button" style = "margin:30px;" value="{{ url_for('delete_todos',id=i.id) }}" class="deleteButton btn"><img class="img-fluid float-right" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-delete-miscellaneous-kiranshastry-solid-kiranshastry.png" width="32" height="32"/></button> 
        </div>
    </div>
{% endfor %}
<hr>
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
        {% for i in pages %}
            <li class="page-item"><button class="page-link" value="{{ url_for('get_todos',page=i) }}">{{i}}</button></li>
        {% endfor %}
    </ul>
</nav> 
<script type="text/javascript">
    $('.page-link').click(
        function(){
            var link = this.getAttribute('value');
            $.ajax({
                url: link,
                type: 'GET',
                success: function(data){
                    $('#values').html(data);
                }
            });
        }
    );
    $('.doneButton').click(function(){
        var link = $(this).val();
        $.ajax({
            url: link,
            type: 'PATCH',
            data: {
                is_completed:true,
            },
            success: function(data){
                $('#footer').append(get_alert('Marked as completed!'));
                $.ajax({
                    url: "{{ url_for('get_todos',page=page) }}",
                    type: 'GET',
                    success: function(data){
                        $('#values').html(data);
                    }
                });
            }
        });
    });
    $('.deleteButton').click(function(){
        var link = $(this).val();
        $.ajax({
            url: link,
            type: 'DELETE',
            success: function(data){
                $('#footer').append(get_alert('Deleted!'));
                $.ajax({
                    url: "{{ url_for('get_todos',page=page) }}",
                    type: 'GET',
                    success: function(data){
                        $('#values').html(data);
                    }
                });
            }
        });
    });

</script>